.webiny-sb-page-element-input{
    &__field{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-size: 1rem;
        border:2px solid $webiny-sb-theme-background;
        background-color: $webiny-sb-theme-background;
        &:focus{
            border-color: $webiny-sb-theme-primary;
            outline: none;
        }
    }
    &__helper-text{
        font-size: 0.8rem;
        margin-left: 2px;
    }
}